.authContainer{
    min-height: 100vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authCard{
    width: 100%;
    max-width: 600px;
}

.authContainer .nav-pills .nav-link{
flex-grow: 1;
border-radius: 10px;
}


.spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
